name: Reaper
env:
  app: reaper
on:
  pull_request:
    paths:
      - 'apps/reaper/**'
      - 'mix.lock'
      - 'apps/pipeline/**'
      - 'apps/dead_letter/**'
  push:
    branches:
      - master
    paths:
      - 'apps/reaper/**'
      - 'mix.lock'
      - 'apps/pipeline/**'
      - 'apps/dead_letter/**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Elixir
        uses: actions/setup-elixir@v1.2.0
        with:
          elixir-version: 1.8
          otp-version: 22.2
          runs-on: ubuntu-latest
      - name: Run Unit Tests
        run: |
          mix deps.get
          cd apps/${{ env.app }}
          mix test
      - name: Run Integration Tests
        run: |
          mix deps.get
          cd apps/${{ env.app }}
          mix test.integration
  development-docker:
    runs-on: ubuntu-latest
    needs: tests
    if: endsWith(github.ref, '/master')
    steps:
      - uses: actions/checkout@v2
      - uses: MilesChou/elixir-action@master
        with:
          args: mix test
      - name: Build Docker
        run: |
          bash ./scripts/build.sh ${{ env.app }} development
      - name: Publish Docker
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          bash ./scripts/publish.sh ${{ env.app }} development
